= render :partial => 'spree/admin/shared/product_sub_menu'
= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Slides"}

= csrf_meta_tag

= form_for [:admin, @product], html: { multipart: true } do |f|


  #product-slides-table

    #product-slides.product-slides
      = f.fields_for :slides, (f.object.slides.build unless f.object.slides.present?) do |fa|
        = render 'slide_fields', f: fa

      #product-slides-list

    .product-slides-actions
      = link_to_add_association "Add Product Slide", f, :slides, class: 'icon-plus button pull-left button-default', :'data-association-insertion-node' => '#product-slides-list'

  
  %fieldset.no-border
    .filter-actions.actions
      = f.submit "Save Product Slides"
      %span.or or
      = link_to "Cancel", edit_admin_product_path(@product), class: "button button-default"
    

:javascript
  
  $(document).ready(function() {
    
    bind_sorting();

    $('#product-slides').on('cocoon:after-insert', function(e, insertedItem) {
      sort_items();
      bind_sorting();
    });
  });


  bind_sorting = function() {
    $('#product-slides').sortable({
      items: '> .product-slide',
      distance: 50,
      tolerance: 'pointer',
      placeholder: 'sortable-placeholder',

      update: function(event, ui) {
        sort_items();
      },
    });
  };

  sort_items = function() {
    $('input.product-slide-sort-order', $('#product-slides')).each(function(index) {
      $(this).val(index);
    });
  }


